.slider {
  gap: 9px;

  address, i {
    font-style: normal;

    @media (max-width: 980px) {
      font-size: var(--fz-xss);
    }
  }

  &-people {
    display: flex;
    gap: 2px;
  }

  &-price {
    font-size: var(--fz-smx);

    @media (max-width: 980px) {
      font-size: var(--fz-xs);
    }
  }

  progress {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;

    &::-webkit-progress-bar {
      background: var(--slider-bg);
    }

    &::-webkit-progress-value {
      background: var(--slider-progress);
    }
  }
}