@import "/public/font/sofia-pro/stylesheet.css";

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-sofia-pro {
  font-family: 'Sofia Pro', sans-serif;
}