.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.section {
  width: 100%;
}

.container {
  max-width: var(--container-max-w);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.icon {
  fill: currentColor;
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}