.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.section {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-max-w);
  display: flex;
  justify-content: center;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body .icon {
  fill: currentColor;
  width: var(--icon-size-md);
  height: var(--icon-size-md);

  * {
    fill: currentColor;
  }
}

.bg-light {
  background: var(--light-100);
}

.card-shadow-md {
  box-shadow: 0 0 48px 0 color-mix(in srgb, #314F7C 12%, transparent);
}

.title-h1, .content-body h1 {
  font-size: var(--fz-3xl);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--dark-900);

  @media (max-width: 1280px) {
    font-size: var(--fz-x);
  }

  @media (max-width: 560px) {
    font-size: var(--fz-l);
  }
}

.title-h2, .content-body h2  {
  font-size: var(--fz-xxl);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--dark-900);

  @media (max-width: 1280px) {
    font-size: var(--fz-xl);
  }

  @media (max-width: 560px) {
    font-size: var(--fz-lg);
  }
}

.title-h3, .content-body h3  {
  font-size: var(--fz-xl);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--dark-900);

  @media (max-width: 1280px) {
    font-size: var(--fz-lg);
  }

  @media (max-width: 560px) {
    font-size: var(--fz-md);
  }
}

.title-h4, .content-body h4  {
  font-size: var(--fz-lg);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--dark-900);

  @media (max-width: 1280px) {
    font-size: var(--fz-md);
  }

  @media (max-width: 560px) {
    font-size: var(--fz-sm);
  }
}

.title-h5, .content-body h5  {
  font-size: var(--fz-md);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--dark-900);

  @media (max-width: 1280px) {
    font-size: var(--fz-sm);
  }

  @media (max-width: 560px) {
    font-size: var(--fz-smx);
  }
}

.title-h6, .content-body h6  {
  font-size: var(--fz-sm);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--dark-900);

  @media (max-width: 1280px) {
    font-size: var(--fz-sm);
  }

  @media (max-width: 560px) {
    font-size: var(--fz-smx);
  }
}

.img-cover {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-contain {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}