.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.section {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-max-w);
  display: flex;
  justify-content: center;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body .icon {
  fill: currentColor;
  width: var(--icon-size-md);
  height: var(--icon-size-md);

  * {
    fill: currentColor;
  }
}

.bg-light {
  background: var(--light-100);
}

.card-shadow-md {
  box-shadow: 0 0 48px 0 color-mix(in srgb, var(--primary) 12%, transparent);
}

.title-h1 {
  font-size: var(--fz-3xl);
  font-weight: 600;
  font-family: 'Sofia Pro', sans-serif;
}