:root {
  // COLORS
  --dark-900: #1A1A1A;
  --dark-800: #272B2B;
  --dark-700: #474747;

  --light-100: #FFF;
  --light-200: #ECEDEE;
  --light-300: #E0E1E6;
  --light-400: #BDBDBD;

  --gradient-primary: linear-gradient(to right, #50B3B1 0%, #3681B9 50%);
  --gradient-secondary: linear-gradient(to right, #8DBEFF 0%, #6B8BB7 50%);

  --primary: #13396C;
  --primary-light: #3681B9;

  --slider-bg: #E2F1FF;
  --slider-progress: #6AB1B1;

  // FONT SIZE
  --fz-xss: 12px;
  --fz-xs: 14px;
  --fz-smx: 16px;
  --fz-sm: 18px;
  --fz-md: 20px;
  --fz-lg: 24px;
  --fz-l: 26px; // пропустил
  --fz-xl: 32px;
  --fz-x: 36px; // пропустил
  --fz-xxl: 42px;
  --fz-3xl: 46px;

  // ICON SIZE
  --icon-size-md: 24px;

  // SPACING
  --gap-xs: 5px;
  --gap-sm: 10px;
  --gap-md: 20px;
  --gap-2xl: 60px;

  // RADIUS
  --radius-smx: 6px;
  --radius-sm: 13px;
  --radius-md: 18px;
  --radius-lg: 24px;
  --radius-xl: 36px;
  --radius-3xl: 60px;

  // CONTAINER
  --container-max-w: 1320px;

  // Naive UI vars

  --n-border: none !important;
}

// BREAKPOINTS

$screen-2xl: 1320px;
$screen-xl: 1280px;
$screen-lg: 980px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 360px;
$screen-xxs: 320px;