:root {
  --dark-900: #1A1A1A;
  --dark-800: #272B2B;
  --light-100: #FFF;
  --light-200: #ECEDEE;
  --light-300: #E0E1E6;
  --gradient-primary: linear-gradient(#50B3B1, #3681B9);
  --primary: #13396C;
  --primary-light: #3681B9;

  --fz-xs: 12px;
  --fz-smx: 14px;
  --fz-sm: 18px;
  --fz-md: 20px;
  --fz-lg: 24px;
  --fz-xl: 32px;
  --fz-xxl: 42px;

  --icon-size-md: 24px;

  --gap-xs: 5px;
  --gap-sm: 10px;
  --gap-md: 20px;

  --radius-sm: 6px;
  --radius-md: 18px;
  --radius-lg: 24px;
  --radius-xl: 36px;
  --radius-3xl: 60px;

  --container-max-w: 1318px;
}