:root {
  --dark-900: #1A1A1A;
  --dark-800: #272B2B;
  --light-100: #FFF;
  --light-200: #ECEDEE;
  --light-300: #E0E1E6;
  --gradient-primary: linear-gradient(#50B3B1, #3681B9);
  --primary: #13396C;

  --fz-xs: 12px;
  --fz-smx: 14px;
  --fz-sm: 18px;
  --fz-md: 20px;
  --fz-lg: 24px;
  --fz-xl: 32px;
  --fz-xxl: 42px;
}