.card {
  border-radius: 20px;
  overflow: hidden;

  &-carousel {
    height: 334px;

    @media (max-width: 980px) {
      height: 260px;
    }

    @media (max-width: 560px) {
      height: 288px;
    }
  }

  &-body {
    padding: 9px 37px 23px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 980px) {
      padding: 12px 16px;
    }

    &-title {
      margin-bottom: 33px;
      font-size: var(--fz-smx);
      min-height: 48px;

      @media (max-width: 980px) {
        font-size: var(--fz-xs);
      }
    }

    &-slider {
      margin-bottom: 22px;
    }

    &-actions {
      gap: 9px;
    }
  }
}