.section-header {
  position: relative;
  margin-top: 38px;
  margin-bottom: 40px;
  z-index: 10;
}

.header-list {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: var(--gap-2xl);

  @media (max-width: 980px) {
    gap: 0;
  }
}

.menu-wrapper {
  min-height: 59px;
  display: flex;
  flex-grow: 1;

  @media (max-width: 980px) {
    min-height: 53px;
  }

  &:not(.mounted) {
    opacity: 0;

    :deep(ul li) {
      height: 0 !important;
    }
  }

  @media (max-width: 980px) {
    margin-left: auto;
    flex-grow: 0;
  }
}