.section-header {
  margin-top: 38px;
}

.header-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: var(--gap-md);
}

.header-menu {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-md);
}