.social-list {
  &-icon {
    width: 44px;
    height: 44px;
    fill: none;
  }
}

.footer-list {
  margin-bottom: 50px;

  &-item {
    width: 100%;
    max-width: 205px;
    gap: 24px;

    &-title {
      font-size: var(--fz-sm);
      font-weight: 600;
    }

    .phone {
      font-weight: 600;
      font-size: var(--fz-md);
    }

    nav {
      gap: 12px;

      a {
        font-size: var(--fz-sm);
        transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
      }

      a:hover {
        color: var(--primary);
        box-shadow: 0 2px 0 0 var(--primary);
      }
    }
  }
}

.mobile-market {
  width: 148px;
  height: 45px;
}

.section-footer {
  min-height: 389px;

  .container {
    padding: 50px 100px 36px;
    border-radius: 28px;
  }
}