* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button,
  ul,
  li,
  a,
  input {
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
  }
p{
  font-family: "Montserrat";
}
  html,
  body {
    background-color: rgb(246, 246, 246);
    height: 100%;
    font-family: "";
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-max{
    width: 100%;
    max-width: 1320px;
    padding: 0 0px;
    margin: 0 auto;
  
    @media( max-width: 1025px){
      width: 100%;
      max-width: 1025px;
      padding:  0px 16px 0px 16px;
      margin: 0 auto;
    }
    @media( max-width: 565px){
      width: 100%;
      max-width: 565px;
      padding:  0px;
      margin: 0 auto;
    }
  }

  html {
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: "Montserrat";
    font-weight: 400;
  }
  p{
    font-family: "Montserrat";
  }
